%h2 Все товары

.form-group-search-items.form-inline
  = form_tag items_path, :id => 'form-group-search-requests-get', :method => 'get'  do
    .form-group
      = text_field_tag :search, params[:search], placeholder: "введите название товара", :class => "form-control col-md-4", :id => "searching_text_input"
    .form-group
      = submit_tag "Поиск", :name => nil, :class => "btn btn-default"

- if Item.any?
  %table
    %tr
      %th id
      %th название
      %th описание
      %th цена
      %th url
      %th возраст
      %th вендор
      %th модель
      %th картинки
    - @items.each do |item|
      %tr
        %td
          = link_to "#{item.id}", item
        %td
          = item.name
        %td
          = item.description
        %td
          = item.price
        %td
          = item.source_url
        %td
          = item.age
        %td
          = item.vendor
        %td
          = item.model
        %td
          - item.pictures.each do |pic|
            %img{:src => pic.url}
  = paginate @items
- else
  %p нет записей в БД